<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <section>
    {{! Authentication for user's login status which is linked to the controller sessions.js file under the Create
    method }}
    <nav>
      <ul>
        {{#if isAuthenticated}}
        <li><a href="/posts">Posts</a></li>
        <li><a href="/profile">Profile</a></li>
        {{!-- <li><a href="/sessions/login">Logout</a></li> --}}
        {{else}}
        <li><a href="/sessions/login">Login</a></li>
        <li><a href="/users/signup">Sign-up</a></li>
        {{/if}}
    <form action="/">
      <form action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="Log Out"/>
      </form>
    </form>
      </ul>
    </nav>
    
    {{{body}}}

  
  </section>
</body>
</html>

{{! Use if statements to state if user is on a certain page, have the Cancel button and if user is signed in in have the
Logout button }}