<h1 class="title">{{title}}</h1>
<p>Welcome to {{title}}</p>

<div id="formContainer">
  <form action="/users/signup">
    <input type="submit" value="Sign Up" class="button1" />
  </form>
  <form action="/sessions/login">
    <input type="submit" value="Log In" class="button1" />
  </form>
</div>
{{! potential additions to homepage : add a description, a picture  }}